/__pycache__/
/.vscode/
/build/
/data/NATS-sss-v1_0-50262-simple/
/data/NATS-tss-v1_0-3ffb9-simple/
data/NATS-tss-v1_0-3ffb9-simple.tar
/venv/
/venv_old/
backup.sh
*.so
*.zip
WEBHOOK_URL
tmp.png
update